
<!DOCTYPE HTML>
<html>
<head>
<title>My ArcherPlume Blog!</title>
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<script src="https//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script>
$("#accordion" ).accordion({ header: "h1" });
</script>
</head>
<body>



<div id="accordion">
  <h1>Hello, Rails!</h1>
  <div>
   <a href="/articles" class="archerplume-articles">Articles </a>
   <a href="/movies" class="archerplume-movies">Movies</a>
 </div>
  <h1>Provide Feeback</h1>
  <div>
  <div id="surveyMonkeyInfo"><div><script src="http://www.surveymonkey.com/jsEmbed.aspx?sm=BAvHj4xNa0JUkrVQjy3PwQ_3d_3d"> </script></div>Create your free online surveys with <a href="https://www.surveymonkey.com">SurveyMonkey</a> , the world's leading questionnaire tool.</div>
  </div>
</div>
</body>
</html>


